/* DECLARAÇÃO DE VARIÁVEIS EM CSS */
:root {
    --vermelho: #E50914;
    --preto: #141414;
}

/* RESET CSS */
* {
    margin: 0px;
    padding: 0px;
    /*elementos não vão romper o tamanho da caixa */
    box-sizing: border-box;
}



body {
    background-color: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    /* têndencia de arrumar tudo em linha */
    display:  flex;
    align-items: center;


}



header .logo {
    
    color: var(--vermelho);
    font-family: "Arial Black" , Times, serif;
    font-size: 45px;


}

header nav {
    margin-left: 50px;
}

header nav a {
    margin-left: px;
    text-decoration: none;
    color: #fff;
    margin-right: 15px;

}

header nav a:hover {
    color: #AAA;
}

/*FILME PRINCIPAL*/
.filme-principal{
    font-size: 16px;
    display: flex;
    background: linear-gradient(rgba(0,0,0,.50) , rgba(0,0,0,.50)100%), url('../img/fundo.jpg');
    height: 490px;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    /*Itens comecem da esquerda*/
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
   
}

.descricao{
    font-size: 20px;

}

.titulo {
    margin-top: 15%;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    background-color: rgba(0, 0, 0,.50);
    border: none;
    color: white;
    padding: 15px  30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    /* delay */
    transition: .3s ease all;
    font-size: 16px;
    border-radius: 5px;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}

/* WRAPPER = ENVELOPAR
Guarda vários elementos dentro dela, você consegue mexer em todos os filhos, ao invés de ficar mexendo em cada um. Faço uma mexida no pai, e todos os filhos vão receber essa mexida. */

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 60%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
    
}